<!doctype html>
<html lang="en">
  <head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!--Usamos Boxicons-->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CRUD</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
<!--Creando tabla-->
<div class="container">
    <a href="/create" class="btn btn-outline-primary mt-4">Nuevo Registro  <i class='bx bxs-user-plus'></i></a>
    <table class="table table-bordered table-striped text-center mt-4 ">
        <thead>
            <tr class="bg-primary text-white">
                <th scope="col">ID</th>
                <th scope="col">USER</th>
                <th scope="col">ROLE</th>
                <th scope="col">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach((user)=>{ %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.user %></td>
                <td><%= user.rol %></td>
                <td>
                    <a href="/edit/<%= user.id %>" class="btn btn-outline-info">Editar</a>
                    <a href="/delete/<%= user.id %>" class="btn btn-outline-danger">Borrar</a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>

</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>